a {
  text-decoration: none;
  color: black;
}

body {
  margin:0px;
}
table {
  width:100%;
  text-align: center;
  border-color:black;
  border: 1 solid black;
}

h1 {
  text-align: center;
}

.margin {
  margin:20px;
}
.par {
  display:default;
}
.pad {
  padding-left: 0px;
}

.clror {
  background-color: lightblue;
}
.logg {
  height: 90px;
  background-color: blue;
}
.logo {
  width:70px;
  height: 70px;
  margin: 10px;
}
.textlogo {
  color:rgb(25,200,255);
  margin:10px;
}

.clror.ola {
  position:sticky;
  top: 0;
  left:0;
  z-index:1000;
}